spring:
  application:
    name: ecommerce-order
  datasource:
    url: jdbc:h2:mem:order-db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  sql:
    init:
      mode: always

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2-console
      
server:
  port: 8082
